{% extends "layout.html" %}
{% block title %}Answer Evaluation{% endblock %}
{% block body %}

<style>
    div.container h1{
        font-size: 55px;
        color: #6495ED;
        padding-block-start: 215px;
        font-weight: 600;
        padding-block-end: 145px;
        padding-inline-end: 30px;
    }
    div.container p{
        font-size: 18px;
        color: black;
        padding-block-start: 150px;
        font-weight: 400;
        padding-block-end: 100px;
        padding-inline-end: 30px;
    }
</style>

<div class="container">
    <div class = "row">
    <div class="col">
        <center>
        <h1>Answer Evaluation</h1>
        </center>
    </div>
    <div class="col">
        <center>
        <p>
            Hello Learners!!<br>In the dynamic landscape of the traditional education system,
            we present ADAES, a cutting-edge Descriptive Answer Evaluation System 
            powered by state-of-the-art Natural Language Processing (NLP) and Machine Learning techniques.
            Tailored for universities, schools, and colleges, our innovative system transcends traditional evaluation methods,
            offering an automated and nuanced approach to evaluating descriptive answers.
            Join us at the forefront of educational technology, where precision meets automation,
            and discover a transformative tool designed to elevate the evaluation experience for both educators and learners.
            
        </p>
        </center>
    </div>
    </div>
</div>

{% endblock %}