<!DOCTYPE html>  
<html>  
  <head>  
    <title>Student Records</title>  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
  </head>  

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
      background-color: #008000;
      color: white;
    }
  </style>
  
  <body>  
    
    <h1 style="text-align:center">Students  Information</h1>  
    <table border=5>  
      <thead>    
          <th>Student Name</th>  
          <th>Roll No</th>
          <th>Program Name</th>
          <th>Subject Name</th>
          <th>Email ID</th> 
      </thead>  
          
      <!-- {% for row in rows %}-->  
          
      <tr>  
        <td>Samim Aktar</td>  
        <td>22MAI0047</td>  
        <td>M.Tech in AI and ML</td> 
        <td>Data Structure and Algorithm</td>
        <td>samim.aktar2022@vitstudent.ac.in</td>
      </tr>  
          
      <!--  {% endfor %}  -->
    </table>  
    <br>
    <br>  
     <!--
    <a href="/">Go back to home page</a>  
  
  </body>

  <body>
  -->  
    <section>
    <h1 style="text-align:center">Students Marks Information</h1>  
    <table border=5>  
        <thead>    
          <th>Questions ID</th>  
          <th>Descriptive Answer Marks</th>
          <th>Feedback</th>
        </thead>  
          
      <!-- {% for row in rows %}-->  
          
            <tr>  
              <td>1</td>  
              <td>8.97</td>
              <td>Good</td>
            </tr>  
            <tr>  
              <td>2</td>  
              <td>7.36</td>
              <td>Good</td>
            </tr> 
            <tr>  
              <td>3</td>  
              <td>9.10</td>
              <td>Excelent</td>
            </tr> 
            <tr>  
              <td>4</td>  
              <td>10</td>
              <td>Excelent</td>
            </tr> 
            <tr>  
              <td>5</td>  
              <td>7.69</td>
              <td>Good</td>
            </tr> 
            <tr>  
              <td>Total</td>  
              <td>43.12</td>
              <td>Overall Good</td>
            </tr> 
          
      <!--  {% endfor %}  -->
    </table>  
    <br>
    
    <br>  
      
    <a href="/">Go back to home page</a>  
  </section>
  </body>  
</html>  